gitdb==4.0.12
GitPython==3.1.44
javalang==0.13.0
numpy==2.2.2
pandas==2.2.3
pylibsrcml==1.0.0.post1
scikit-learn==1.15.1
scipy==1.15.1
setuptools==72.1.0
smmap==5.0.2
threadpoolctl==3.4.0
wheel==0.45.1